@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: forestgreen;
$link: green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all";

@import "../node_modules/bulma/sass/helpers/_all";

  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1200px; } }

.resultsBox { border: 5px groove black; }

.results span:first-of-type:not(:last-of-type) {
  margin-left: auto;
  margin-right: 25px;
}

.results span:last-of-type {
  min-width: 85px;
  text-align: right;
}

// .results {
// 	position: relative;
// }

// .tooltip {
// 	position: absolute;
// 	background: pink;
// 	font-size: 0;
// 	display: none;

// 	&:hover,
// 	&:focus { display: inherit; }
// }

// .tooltiptext {
// 	font-size: 0.75rem;
// 	padding: 1px;
// 	position: relative;
// 	top: -20px;
// 	margin-left: 100px;
// 	background: rgba(0,0,0,0.25)
// }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 0.75rem;
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  margin-left: 105px;
  top: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
